/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(14, 129, 196); 
}

div.header h2 {
    color: rgba(255, 255, 255, 0.664);
    font-size: 22px;
}

div.header i {
    cursor: pointer;
    display: block;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.404);
    background-color: rgb(49, 118, 207); 
    color: white;
    font-size: 18px;
    padding: 4px 6px;
}

div.side_bar {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10px;
    background-color: rgba(8, 6, 6)
}

div.side_bar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    height: auto;
    font-size: 16px;
    padding: 10px 9px;
 }

 hr {
    border: 1px solid wheat;
 }

 div.side_bar ul li a:hover{
    background-color: rgb(49, 68, 90);
 }

 div.container {
     width: 95%;
     margin: auto;
 }

 div.entry_div {
     margin: 20px 0px;
     border: 1px solid rgb(56, 190, 231);
     box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
     border-radius: 7px;
     padding: 20px;
 }

 form p {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 4px;
}

 form input {
     cursor: pointer;
     padding: 7px 9px;
     border: 1px solid gray;
     border-radius: 6px;
     font-size: 16px;
 }

 form input:hover {
     border: 1px solid gray;
     outline: 0px;
 }

 form button {
    cursor: pointer;
    padding: 5px 7px;
    margin-left: 3px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
}

div.result_container h1 {
    font-size: 22px;
    color: rgb(175, 55, 55);
    margin-bottom: 15px;
}

div.result_container i {
     vertical-align: top;
     margin-left: 30px;
     font-size: 30px;
     color: rgb(87, 52, 52);
}

.hr {
    margin: 30px 0px 25px 0px;
    border: 1px solid rgba(214, 212, 212, 0.788);
}

div.grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
}

div.item3{
    grid-column-start: 1;
    grid-column-end: 3;
}

div.result {
    margin: 10px 7px;
    border: 1px solid gray;
    border-radius: 15px;
}

div.result h2{
    color: white;
    font-size: 18px;
    background-color: rgb(14, 129, 196); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    text-align: center;
    padding: 8px 5px;
}

 
div.result img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

div.result h3 {
    margin: 10px 0px;
    color: rgb(80, 79, 79);
    font-size: 15px;
    text-align: center;
}

div.zodiac_sign{
    width: 90%;
    font-size: 15px;
    margin: auto;
    line-height: 28px;
    color: rgb(56, 54, 54);
    padding: 20px 15px;
}

div.zodiac_sign h4{
    font-size: 28px;
    color: rgb(46, 45, 45);
    margin-bottom: 13px;
}

div.zodiac_sign img{
    float: right;
    width: 100px;
    margin: 0 0 0 20px;
    border-radius: 50%;
    height: auto;
    animation-name: zodiac_animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

div.alive_for{
    font-size: 15px;
    text-align: center;
    color: rgb(56, 54, 54);
    padding: 8px 0px;
}

div.alive_for p{
    padding: 9px 0px;
    width: 100%;
    margin-bottom: 8px;
}

div.alive_for p:nth-child(even){background-color: #f2f2f2;}

div.alive_for b{
    margin-left: 20px;
    font-weight: normal;
}

div.next_birthday {
    text-align: center;
    display: block;
    margin-top: 30px;
}

div.next_birthday i{
    font-size: 30vw;
    display: inline-block;
    position: relative;
    color: gray;   
    margin: 0;
    color: rgb(33, 75, 114);
}

div.next_birthday i b{
     position: absolute;
     top: 55%;
     left: 50%;
     font-size: 17px;
     transform: translate(-50%, -50%);
}

div.calculator_features {
    margin-top: 40px;
}

div.calculator_features h1{
    font-size: 21px;
    color: yellowgreen;
}

div.calculator_features h3{
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 15px 0px;
    color: rgb(49, 48, 48);
}

div.calculator_features ul {
    margin: 0 0 0 17px;
    padding: 0;
}

div.calculator_features ul li {
    margin: 12px 0px;
    padding: 0;
    font-size: 16px;
    color: rgb(56, 54, 54);
}

div.loader {
    margin-top: 50px;
    font-size: 31px;
    color: rgb(158, 156, 156);
    text-align: center;
}

/* The animation code */
@keyframes zodiac_animation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

}


/* DESKTOP VIEW */
@media only screen and (min-width: 700px) {

    * {
        margin: 0;
        padding: 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    div.header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:  rgb(14, 129, 196); 
    }
    
    div.header h2 {
        color: rgba(255, 255, 255, 0.664);
        font-size: 22px;
    }
    
    div.header i {
        cursor: pointer;
        display: none;
        border-radius: 8px;
        border: 2px solid rgba(255, 255, 255, 0.404);
        background-color: rgb(49, 118, 207); 
        color: white;
        font-size: 18px;
        padding: 4px 6px;
    }
    
     div.container {
         width: 70%;
         margin: auto;
     }
    
     div.entry_div {
         margin: 20px 0px;
         width: 400px;
         border: 1px solid rgb(56, 190, 231);
         box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
         border-radius: 7px;
         padding: 30px 20px;
     }
    
     form p {
        font-size: 18px;
        cursor: pointer;
        margin-bottom: 4px;
    }
    
     form input {
         cursor: pointer;
         padding: 7px 9px;
         border: 1px solid gray;
         border-radius: 6px;
         font-size: 16px;
     }
    
     form input:hover {
         border: 1px solid gray;
         outline: 0px;
     }
    
     form button {
        cursor: pointer;
        padding: 5px 7px;
        margin-left: 3px;
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 16px;
    }
    
    div.result_container h1 {
        font-size: 24px;
        color: rgb(175, 55, 55);
        margin-bottom: 15px;
    }
    
    div.result_container i {
         vertical-align: top;
         margin-left: 30px;
         font-size: 32px;
         color: rgb(87, 52, 52);
    }
    
    .hr {
        display: block;
        margin: 30px 0px 25px 0px;
        border: 1px solid rgba(214, 212, 212, 0.788);
    }
    
    div.result h2{
         color: white;
         font-size: 20px;
         background-color: gray;
         border-top-left-radius: 15px;
         border-top-right-radius: 15px;
         margin: 0;
         text-align: center;
         padding: 8px 0px;
    }

        
    div.result img {
        display: block;
        margin: 10px auto;
        width: 230px;
        height: auto;
    }
    
    div.result h3 {
        margin: 10px 0px;
        color: rgb(80, 79, 79);
        font-size: 18px;
        text-align: center;
    }
    
    
    div.grid_container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    div.item3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    div.result {
        margin: 10px 10px;
        border: 1px solid gray;
        border-radius: 15px;
    }
    
    div.result h2{
        color: white;
        font-size: 20px;
        background-color: rgb(14, 129, 196); 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 0;
        text-align: center;
        padding: 8px 0px;
    }

    div.zodiac_sign{
        width: 90%;
        font-size: 18px;
        margin: auto;
        line-height: 28px;
        color: rgb(56, 54, 54);
        padding: 20px 15px;
    }
    
    div.zodiac_sign h4{
        font-size: 31px;
        color: rgb(46, 45, 45);
        margin-bottom: 20px;
    }
    
    div.zodiac_sign img{
        float: right;
        width: 150px;
        margin: 0 0 0 20px;
        border-radius: 50%;
        height: auto;
        animation-name: zodiac_animation;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
        
    div.alive_for{
        font-size: 18px;
        text-align: center;
        color: rgb(56, 54, 54);
        padding: 8px 0px;
    }

    div.alive_for p{
        padding: 9px 0px;
        width: 100%;
        margin-bottom: 8px;
    }

    div.alive_for p:nth-child(even){background-color: #f2f2f2;}

    div.alive_for b{
        margin-left: 20px;
        font-weight: normal;
    }

    div.next_birthday {
        text-align: center;
        display: block;
        margin-top: 30px;
    }
    
    div.next_birthday i{
        font-size: 200px;
        display: inline-block;
        position: relative;
        color: gray;   
        margin: 0;
        color: rgb(33, 75, 114);
    }
    
    div.next_birthday i b{
         position: absolute;
         top: 55%;
         left: 50%;
         font-size: 18px;
         transform: translate(-50%, -50%);
    }

    div.calculator_features {
        margin-top: 40px;
    }
    
    div.calculator_features h1{
        font-size: 23px;
        color: yellowgreen;
    }
    
    div.calculator_features h3{
        font-size: 18px;
        font-weight: normal;
        margin: 10px 0 15px 0px;
        color: rgb(49, 48, 48);
    }
    
    div.calculator_features ul {
        margin: 0 0 0 17px;
        padding: 0;
    }
    
    div.calculator_features ul li {
        margin: 12px 0px;
        padding: 0;
        font-size: 18px;
        color: rgb(56, 54, 54);
    }

    div.loader {
        margin-top: 50px;
        font-size: 32px;
        color: rgb(158, 156, 156);
        text-align: center;
    }

    
/* The animation code */
/* The animation code */
@keyframes zodiac_animation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

}
